{% extends 'blog/base.html' %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date badge-pill alert-info">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    <div class='m-0'>
        {{ post.body|linebreaks }}
    </div>

    <button type="button" class="btn btn-outline-info">
            <a class='text-dark' href="{% url 'blog:post_share' post.id %}">
                Share This Post
            </a>
    </button>

    <div class='mt-5 border-primary'>
        <h2>Similar posts</h2>
        {% for post in similar_posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
            {% empty %}
                There are no similar posts yet.
        {% endfor %}
    </div>

    {% with comments.count as total_comments %}
        <div class="border-info mt-5">
            <h3>
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h3>
        </div>
    {% endwith %}

    {% for comment in comments %}
        <div class="card pt-2 mb-2 comment-by">
            <p class="ml-2" >
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            <div class="card badge-pill pl-4 mb-3 pt-2 ml-1 mr-1">
                {{ comment.body|linebreaks }}
            </div>
        </div>
        {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <div class="border-info mt-5">
            <h3>Add a new comment</h3>
            <form method='post'>
                <div>
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value='Add Comment' class="btn btn-outline-info"></p>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock content %}
