{% extends 'blog/base.html' %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date alert-success">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    <div class='alert-success'>
        {{ post.body|linebreaks }}
    </div>

    <p>
        <a href="{% url 'blog:post_share' post.id %}">
            Share this post
        </a>
    </p>

    {% with comments.count as total_comments %}
        <h3>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h3>
    {% endwith %}

    {% for comment in comments %}
        <div class="card alert-success badge-pill pl-4 mb-3 pt-2">
            <p class="" >
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
        {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form method='post'>
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value='Add Comment'></p>
        </form>
    {% endif %}
{% endblock content %}
